extends layout

block content
  h1= title
  form(method="post")
    div
      div
        span Title:
        input(type="text", name="title", id="edit-article-title")
      div
        textarea(name="body", row=20, id="edit-article-body", placeholder="Type your post here")
      div#edit-article-submit
        input(type="submit", value="Submit")
