body
  background #F0EAB9 
  color #4C4A3B
  font-family sans, sans-serif 
  font-size 1em
  text-align center
h1, h2
  text-shadow .04em .04em rgba(76,74,59,.5)
  color #4C4A3B
  margin 0
h1
  font-size 5em
h2
  font-size 2em
input[type =submit]
  background #FFFFFF
  border-radius .5em
  color #4C4A3B
  font-family sans, sans-serif
  padding .5em
input[type =text]
  margin-left 1em
  margin-bottom 1em
  width 10em
textarea
  border 1px solid #4C4A3B
  border-radius 1em
  height 5em
  padding 1em
  width 50%
#articles
  margin-left auto
  margin-right auto
  text-align left
  width 50%
  .article
    border 2px solid #4C4A3B
    border-radius 1em
    box-shadow 1em 1em .5em rgba(76,74,59,.5)
    margin-bottom 2em
    margin-top 2em
    .body
      background-color #FFFFFF
      border-radius 0 0 1em 1em
      padding 1em
      word-wrap break-word
    .created_at
      display none
    .title
      background-color #BFC516
      border-radius 1em 1em 0 0
      font-weight bold
      padding 1em
      a
        color #4C4A3B
.post
  hr
    background-image -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(231,121,101,0.75), rgba(0,0,0,0))
    background-image    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(231,121,101,0.75), rgba(0,0,0,0))
    background-image     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(231,121,101,0.75), rgba(0,0,0,0))
    background-image      -o-linear-gradient(left, rgba(0,0,0,0), rgba(231,121,101,0.75), rgba(0,0,0,0)) 
    border 0
    height 5px
    margin-bottom 2em
    margin-left auto
    margin-right auto
    margin-top 2em
    width 50%
  input[type =submit]
    float right
  .created_at
    display none
  .body
    margin-top 1em
    p
      background-color #FFFFFF
      border 1px solid #4C4A3B
      border-radius 1em
      margin auto
      padding 1em
      width 50%
      word-wrap break-word
  .comment
    background #BFC516
    border-left 1px solid #4C4A3B
    border-right 1px solid #4C4A3B
    margin auto
    padding .5em
    width 50%
  .comment:first-child
    border-radius 1em 1em 0 0
    border-top 1px solid #4C4A3B
  .comment:last-child
    border-bottom 1px solid #4C4A3B
    border-radius 0 0 1em 1em
  .comment:nth-child(even)
    background #FFFFFF
  .comment.single-comment
    border-radius 1em
  #comment-author
    margin-top 1em
  #comment-content
    margin-bottom 0em
  #comment-list
    margin-top 1em
  #comment-submit
    margin auto
    width 50%
#edit-article-body
  height 15em
