body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 1em;
  text-align: center;
  color: #555;
}
h1,
h2 {
  margin: 0;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 5em;
}
h2 {
  font-size: 2em;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#articles .article {
  margin: 1.25em;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  background-color: #eee;
}
#articles .article .body {
  background-color: #ffa;
}
.article .created_at {
  display: none;
}
.article .body p {
  background-color: #eee;
  border: 1px solid #000;
  margin: auto;
  padding: 1em;
  width: 50%;
}
.article #comment-author,
.article #comment-content {
  margin: 1em;
}
.article #comments,
.article #new-comment {
  margin-top: 1em;
}
.article input[type =text] {
  width: 10em;
  margin-left: 1em;
}
.article input[type =button],
.article input[type =submit] {
  text-align: left;
  margin-left: 50%;
}
.article textarea {
  height: 5em;
  padding: 1em;
  width: 50%;
}
